<%- include('../includes/head.ejs') %>

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

            <main class="main">

                <% if (prods.length> 0) { %>
                    <div class="items">
                        <% for (let product of prods) { %>
                            <div class="item">

                            
                                <div class="item__image">
                                    <img height="300px" width="300px" src="/<%= product.imageUrl %>"
                                        alt="<%= product.title %>">
                                </div>
                                <div>
                                    <h1>
                                        <%= product.title %>
                                    </h1>
    
                                    <h2>$
                                        <%= product.price %>
                                    </h2>
                                    <p>
                                        <%= product.description %>
                                    </p>
                                </div>
                                <div class="item__group-btn">
                                    <a class="btn" href="/admin/edit-product/<%= product.id %>?edit=true">Edit</a>
                                    <form action="/admin/delete-product" method="POST">
                                        <input type="hidden" value="<%= product.id %>" name="productId">
                                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                        <button class="btn" type="submit">Delete</button>
                                    </form>

                                </div>
                                </div>


                                <% } %>
                            </div>
                            <% } else { %>
                                <h1 class="text-center">No Products Found!</h1>
                                <% } %>
            </main>
            <%- include('../includes/end.ejs') %>